In [208]:
import pandas as pd
import numpy as np
import wrds
db=wrds.Connection(wrds_username='hlanfran')
from datetime import datetime

Loading library list...
Done

### b

### c

### d

In [213]:
data = db.raw_sql("select mcaldt, tmytm from crsp.tfz_mth_rf where kytreasnox = 2000001 and mcaldt>='1978-01-01' and mcaldt<='2021-12-31'")
data.to_csv('data.csv', sep=';', index=False)
# rename
data_rf = pd.read_csv("data.csv", sep=';')
data_rf["tmytm"] = np.exp(data_rf['tmytm']/12/100)-1
data_rf = data_rf.set_index("mcaldt")
data_rf

               tmytm
mcaldt
1978-01-31  0.005010
1978-02-28  0.005087
1978-03-31  0.005429
1978-04-28  0.005053
1978-05-31  0.005440
...              ...
2021-08-31  0.000034
2021-09-30  0.000038
2021-10-29  0.000042
2021-11-30  0.000068
2021-12-31  0.000042

[528 rows x 1 columns]

In [24]:
data_company = db.raw_sql("select  permno, date,ret "
           "from crsp.msf "
           "where permno in (11308, 11850, 12490, 14541, 17830, 18163, 18542, 19502, 19561, 21936, 22111, 22592, 22752, 26403, 43449, 47896, 55976, 59176, 59328, 59459) "
           "and date>='1978-01-01'"
            "and date<='2021-12-31'")
data_company.to_csv('data_company.csv', sep=';', index=False)
# rename
data_company = pd.read_csv("data_company.csv", sep=';')   


data_company.loc[data_company.permno ==11308,'permno'] = 'AMERICAN EXPRESS CO'
data_company.loc[data_company.permno ==11850,'permno'] = 'BOEING CO’'
data_company.loc[data_company.permno ==12490,'permno'] = 'CATERPILLAR TRACTOR INC'
data_company.loc[data_company.permno ==14541,'permno'] = 'CHEVRON CORP NEW'
data_company.loc[data_company.permno ==17830,'permno'] = 'DISNEY WALT PRODUCTIONS'
data_company.loc[data_company.permno ==18163,'permno'] = 'INTERNATIONAL BUSINESS MACHS CO'
data_company.loc[data_company.permno ==18542,'permno'] = 'INTEL CORP'
data_company.loc[data_company.permno ==19502,'permno'] = 'JOHNSON & JOHNSON'
data_company.loc[data_company.permno ==19561,'permno'] = 'JPMORGAN CHASE & CO'
data_company.loc[data_company.permno ==21936,'permno'] = 'COCA COLA CO'
data_company.loc[data_company.permno ==22111,'permno'] = 'MCDONALDS CORP'
data_company.loc[data_company.permno ==22592,'permno'] = '3M CO'
data_company.loc[data_company.permno ==22752,'permno'] = 'MERCK & CO INC'
data_company.loc[data_company.permno ==26403,'permno'] = 'PFIZER INC'
data_company.loc[data_company.permno ==43449,'permno'] = 'PROCTER & GAMBLE CO'
data_company.loc[data_company.permno ==47896,'permno'] = 'TRAVELERS COMPANIES INC'
data_company.loc[data_company.permno ==55976,'permno'] = 'UNITED TECHNOLOGIES CORP'
data_company.loc[data_company.permno ==59176,'permno'] = 'WALGREENS BOOTS ALLIANCE INC'
data_company.loc[data_company.permno ==59328,'permno'] = 'WALMART INC'
data_company.loc[data_company.permno ==59459,'permno'] = 'EXXON MOBIL CORP'


data_company = data_company.rename(columns={'permno':'stock'})
data_company

                     stock        date       ret
0      AMERICAN EXPRESS CO  1978-01-31 -0.040268
1      AMERICAN EXPRESS CO  1978-02-28  0.003497
2      AMERICAN EXPRESS CO  1978-03-31  0.067875
3      AMERICAN EXPRESS CO  1978-04-28  0.115512
4      AMERICAN EXPRESS CO  1978-05-31  0.008876
...                    ...         ...       ...
10555     EXXON MOBIL CORP  2021-08-31  0.072455
10556     EXXON MOBIL CORP  2021-09-30 -0.042702
10557     EXXON MOBIL CORP  2021-10-29  0.058351
10558     EXXON MOBIL CORP  2021-11-30 -0.086586
10559     EXXON MOBIL CORP  2021-12-31  0.070500

[10560 rows x 3 columns]

In [195]:
ret = data_company.groupby("date")["ret"].apply(list).reset_index()
name = data_company.groupby("date")["stock"].apply(list).reset_index()
d = ret.merge(name,on="date")

In [196]:
all_data = pd.DataFrame(d.date)
#for col in d.stock[0]:
#    all_data[col] = 0
for row in d.iterrows():
    for i in range(len(row[1][2])):
        all_data.loc[row[0],row[1][2][i]] = row[1][1][i]

In [198]:
#portofolios in different timeframes
dates = all_data.date
all_data = all_data.set_index(['date'])
means = all_data.rolling(window=120,min_periods=120).mean()
stds = all_data.rolling(window=120,min_periods=120).std()
covs = all_data.rolling(window=120,min_periods=120).cov()
means_rf = data_rf.rolling(window=120,min_periods=120).mean()

In [219]:
#define constrains for the 20 stocks
one = np.ones(20)
w = np.zeros((np.shape(dates[119:])[0], 4, 20))

In [228]:
date_number=0
for d in dates[119:]:
    mu = means.loc[d].values.T
    std = stds.loc[d].values
    sigma = covs.loc[d].values
    sigma_inverted = np.linalg.inv(sigma)
    rf = data_rf.loc[d].values

    A = (one@sigma_inverted)@one
    B = (one@sigma_inverted)@mu
    C = (mu@sigma_inverted)@mu
    DELTA = A*C-B**2

    w[date_number,0,:] = (sigma_inverted@(mu-rf))/(B-A*rf)
    w[date_number,1,:] = (sigma_inverted@one)/A
    tmp = 1/std
    w[date_number,2,:] = tmp/tmp.sum()
    w[date_number,3,:] = np.ones(20)/20
    date_number=date_number+1

(528, 20)